# Contents
> Import libraries and data

> Create a crosstab of days_since_prior_order and order_number

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## importing data

In [2]:
path=r'/Users/vanessalimsingh/Instacart Basket Analysis 07-05-2024'

In [3]:
df=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customers.pkl'))

In [4]:
#display all columns
pd.set_option('display.max_columns', None)

In [22]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,ave_prices,spend_flag,median_days_since_prior_order,freq_flag,Gender,State,Age,date_joined,Dependants,Status,income,Full Name,merge_indicator
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,low_spender,20.5,Non_Freq_customer,Female,Alabama,31,2/17/2019,3,married,40423,Linda Nguyen,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,low_spender,20.5,Non_Freq_customer,Female,Alabama,31,2/17/2019,3,married,40423,Linda Nguyen,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,low_spender,20.5,Non_Freq_customer,Female,Alabama,31,2/17/2019,3,married,40423,Linda Nguyen,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,low_spender,20.5,Non_Freq_customer,Female,Alabama,31,2/17/2019,3,married,40423,Linda Nguyen,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,low_spender,20.5,Non_Freq_customer,Female,Alabama,31,2/17/2019,3,married,40423,Linda Nguyen,both

In [21]:
df['days_since_prior_order'].max()

30.0

In [23]:
df['days_since_prior_order'].isnull().sum()

2076096

In [24]:
#“days_since_prior_order” column. You can only assume that these missing values were caused 
#by the fact that there can’t be any days before a first order

In [25]:
#A better way to check this would be to create a crosstab between the “days_since_prior_order” column 
#and the “order_number” column. Then, if all the missing values from “days_since_prior_order” fall 
#where the order number is equal to 1, you can consider your hypothesis confirmed and move on with 
#the rest of your analysis.

## Create a crosstab
> days_since_prior_order and order_number

In [26]:
crosstab = pd.crosstab(df['days_since_prior_order'], df['order_number'], dropna = False)

In [28]:
#Considering its size, it may be cumbersome to view directly in Python. 
#In cases like this, you can copy the table straight to your clipboard, allowing you to then 
#paste it into Excel for easy viewing.

In [30]:
crosstab.to_clipboard()