# Contents

> import libraries and data

> merge data

> export as pkl

# Import libraries

In [1]:
import pandas as pd
import numpy as nm
import os

# Importing data

In [2]:
path = r'/Users/vanessalimsingh/Instacart Basket Analysis 07-05-2024'

In [12]:
# Check for duplicate rows in df_ords_prior DataFrame
print("Dupes." if df_ords_prior.duplicated().any() else "No dupes.")

No dupes.

In [14]:
print("Missing values exist." if df_ords_prior.isna().any().any() else "No missing values.")

No missing values.

In [3]:
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders_products_prior.csv'),index_col= False)

In [4]:
df_ords=pd.read_csv(os.path.join(path,'02 Data','Prepared Data', 'orders_checked.csv'),index_col= False)

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [8]:
df_ords_prior.describe().round(3)

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351000e+00  5.900000e-01
std    9.873007e+05  1.409669e+04       7.127000e+00  4.920000e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [9]:
df_ords.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,0,0,0,2539329,1,1,2,8,NaN
1,1,1,1,1,2398795,1,2,3,7,15.0
2,2,2,2,2,473747,1,3,3,12,21.0
3,3,3,3,3,2254736,1,4,4,7,29.0
4,4,4,4,4,431534,1,5,4,15,28.0

In [10]:
#removing eval set column
df_ords = df_ords.drop(columns='eval_set')

KeyError: "['eval_set'] not found in axis"

In [ ]:
#re-exporting df without eval set column
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [ ]:
df_ords.head()

In [ ]:
df_ords['order_id'].is_unique

In [ ]:
df_ords_prior.head()

In [ ]:
#merging data

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large['_merge'].value_counts()

In [ ]:
#exporting data as csv and pickle

In [ ]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large.shape