# Contents

> importing libraries and data

> check data

> merge data

> Confirm the results of the merge using the merge flag

> Export as pkl

# Import libraries

In [9]:
import pandas as pd
import numpy as np
import os

# Import data

In [10]:
path = r'/Users/vanessalimsingh/Instacart Basket Analysis 07-05-2024'

In [11]:
df_opc = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [16]:
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# 4. Checking imported dataframe

In [13]:
df_opc.shape

(32434489, 13)

In [15]:
#imported data is consistent

In [17]:
df_prod.shape

(49672, 6)

# 5. Merge df_opc and df_prod

In [23]:
#Finding the common column
df_opc.columns.intersection(df_prod.columns)

Index(['Unnamed: 0', 'product_id'], dtype='object')

In [24]:
df_prod.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [27]:
df_opc.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [35]:
duplicate_rows = df_opc[df_opc.duplicated()]

In [37]:
print(duplicate_rows)

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0, order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, _merge]
Index: []

# df.merge() works best for dataframes that don't match in shape
> key/common identifier is product_id

In [39]:
# Test merge without overwriting

In [40]:
pd.merge.test (df_opc,df_prod, on = ['product_id'],indicator=True)

AttributeError: 'function' object has no attribute 'test'

In [43]:
df_test=pd.merge(df_opc, df_prod, on='product_id', indicator='merge_indicator')

In [45]:
df_test.shape

(32404859, 19)

In [46]:
32434489-32404859

29630

In [68]:
#merged data is named df_test
#as we have a matching column 'product_id', a specific type of join was not specified. 
#The default used is inner join.

# 6. Confirm the results of the merge using the merge flag

In [66]:
df_test['merge_indicator'].value_counts()
# In this case, you chose the default option of inner join. This means that the resulting table 
#will only contain observations found in both dataframes. 
#As such, the merge flag here will only show entries that have a value of â€œboth"
#Instacart project only includes data sets that have a full merge rate

merge_indicator
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [49]:
df_test.isna().sum()

Unnamed: 0.2                    0
Unnamed: 0.1                    0
Unnamed: 0_x                    0
order_id                        0
user_id                         0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2076096
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
Unnamed: 0_y                    0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
merge_indicator                 0
dtype: int64

In [50]:
df_test['merge_indicator'].value_counts(dropna=False, normalize=True)

merge_indicator
both          1.0
left_only     0.0
right_only    0.0
Name: proportion, dtype: float64

In [51]:
df_test.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_indicator
0,0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,0,0,0,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,0,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,0,0,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,0,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [57]:
df_prod['product_id'].duplicated().any()

True

In [60]:
df_test=df_test.drop(columns=['_merge'])

In [61]:
df_test.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_indicator
0,0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,0,0,0,2539329,1,1,2,8,NaN,14084,2,0,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,0,2539329,1,1,2,8,NaN,12427,3,0,12427,Original Beef Jerky,23,19,4.4,both
3,0,0,0,2539329,1,1,2,8,NaN,26088,4,0,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,0,2539329,1,1,2,8,NaN,26405,5,0,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [62]:
duplicate_rows = df_test[df_test.duplicated()]

In [63]:
print (duplicate_rows)

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0_x, order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, Unnamed: 0_y, product_name, aisle_id, department_id, prices, merge_indicator]
Index: []

In [64]:
#renaming merged df to df_prod_opc
df_prod_opc=df_test

# 7. Export the newly created dataframe as ords_prods_merge into a pkl file

In [65]:
# Export data to pkl

df_prod_opc.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [67]:
df_prod_opc.shape

(32404859, 18)